body {
    background-color: black;
}

#container {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    animation:pulse 1s infinite;
}


#heart { 
    position: relative; 
    width: 100px; 
    height: 90px;
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: #c90b0b; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg);  
    transform-origin: 0 100%;
    animation:pulsecolor 1s infinite;
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
    animation:pulsecolor 1s infinite;
}

@keyframes pulse {
    10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
    10% {background: #ff0202}
}